 <nav class="navbar px-4 py-1 fixed-bottom navbar-expand-sm navbar-light bg-light" id="navbar">

  <%= link_to root_path do %>
    <% if current_page?(root_url)%>
      <i class="bi bi-house-door-fill"></i>
    <% else %>
      <i class="bi bi-house-door"></i>
    <% end %>
  <% end %>

  <%= link_to home_tag_page_path do %>
    <i class="bi bi-hash"></i>
  <% end %>

  <%= link_to new_post_path do %>
    <% if current_page?(new_post_url)%>
      <i class="bi bi-camera-fill"></i>
    <% else %>
      <i class="bi bi-camera"></i>
    <% end %>
  <% end %>

  <%= link_to pages_links_path do %>
    <% if current_page?(pages_links_url)%>
      <i class="bi bi-shield-lock-fill"></i>
    <% else %>
      <i class="bi bi-shield-lock"></i>
    <% end %>
  <% end %>

  <% if current_user %>

    <%= link_to home_show_path(current_user.id) do %>
      <% if request.path_info.include? 'users' %>
        <i class="bi bi-person-circle"></i>
      <% else %>
        <i class="bi bi-person"></i>
      <% end %>
    <% end %>

  <% end %>

</nav>
