<% @int = 1 %>
<% @all_posts.each do |post| %>
  <div class="card post-card-container">
    <%= render 'shared/postcard/header', {:post => post }%>
    <div class="post-image" style="background-image: url('<%= post.image_url%>')"></div>
    <%= render 'shared/postcard/info', {:post => post }%>
    <%= render 'shared/postcard/comments', {:post => post }%>
    <p class=" mx-2 mb-1 mt-0 text-muted">
      <small>
        <%= RelativeTime.in_words(post.created_at)%>
      </small>
    </p>
  </div>
  <% @int += 1 %>
<% end %>
