<div class="profile-container my-2">
  <div class="d-flex w-100 mx-3">
    <div class="profile-image m-2"><%= id2ProfilePic(current_user.id) if current_user.photo? %>
    </div>
    <div id="name-and-username">
    <h4 id="profile-name"><%= current_user.name %></h4>
    <p>@<%=current_user.username %></p>
    </div>
  </div>
  <div class="w-100 my-3" id="post-number">
  <p class="text-muted"><%= current_user.posts.count %> posts</p>
  </div>
  <div class="w-100 d-flex justify-content-evenly profile-buttons">
    <i class="bi bi-grid-3x3"></i>
    <%= link_to home_showCards_path(current_user.id) do %>
    <i class="bi bi-square"></i>
    <% end %>
  </div>
  <div id="profile-mosaic" class="mt-3 d-flex justify-content-center w-100">
    <div id="mosaic-container">
      <% current_user.posts.all.each do |post|%>
        <div class="profile-squares col-4" style="background-image: url('<%= post.photo %>')"></div>
      <% end %>
    </div>
  </div>
</div>