
<div class="new-post-container">
<img class="mb-4" src="<%= image_url('blacklogo.png')%>" alt="" width="300" height="auto">
<%= form_for @post do |f| %>
<div id="new-post-image-container">
  <div class="field" >
    <%= f.file_field :photo , :class => 'form-control', :type => 'file'%>
  </div>
  </div>

 <div class="field">
    <%= f.text_area :caption, autofocus: true, autocomplete: "caption", class: "form-control", id: "new-post-text", placeholder: "Caption..."%>
  </div>

  <div id="new-post-submit">
    <%= f.submit "Post", :class => 'btn btn-danger' %>
  </div>
<% end %>
</div>