<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('instafavicon.png') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
  </head>

  <body>
  <div id="warningMessage">
  <img class="mb-3" src="<%= image_url('whitelogo.png')%>" alt="" width="200" height="auto">
  It looks like you're on a desktop.
  <img class="my-3" src="<%= image_url('devtools.gif')%>" alt="" width="300" height="auto">
  Please open DevTools and use a responsive mobile device. 
  </div>
  <div id="mobileSafe">
  <main>
  <%= render 'shared/notices' %>
    <%= yield %>
  </main>
  <% if current_user %>
  <%= render 'shared/bottomnav' %>
  <% end %>
  </div>
   <script>
   $(function() {
      $('.toast').toast('show');
   });
  </script>
  </body>
</html>
